@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .highlight-link a,
  a.highlight-link {
    @apply text-sky-700 hover:text-orange-700 hover:underline;
  }
  .header-button {
    @apply cursor-pointer p-1 border-transparent hover:border-white rounded-md
  }
  .h1-bold {
    @apply font-bold text-2xl lg:text-3xl
  }
  .h2-bold {
    @apply font-bold text-lg lg:text-xl;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .item-button {
    @apply p-3 hover:bg-muted hover:no-underline;
  }
}
